@import url('https://rsms.me/inter/inter.css');

// common colors
$tx-selected-color: #2D8E34;
$tx-common-color: #4d4f5c;

// common font-family
$nav-link-font: Inter;
$title-font: 'Playfair Display';