.QHeader {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.QLogo {
    margin: 0 !important;
    padding: 25px 0 !important;
}

.Qcumber {
    font-family: "CalistoMT", serif !important;
    font-size: 20px !important;
    margin: 0 8px 0 3px !important;
    padding: 28px 15px 28px 0 !important;
    /* color: #2D8E34 !important; */
}

.QNavBar {
    z-index: 10;
    background-color: white;
    text-align: center;
    float: left;
    margin-left: 140px;
    padding: 0;
}

.SignUp {
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #C8DFCB;}

.QNavBarRight {
    z-index: 10;
    background-color: white;
    text-align: center;
    float: right;
    margin-right: 200px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.QNavBarRight a {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 8px 0px 8px;
    padding: 28px 15px;

    color: #2D8E34;
    text-align: center;
    text-decoration: none;
}


.QNavBarList a {
    float: left;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 8px 0px 8px;
    padding: 28px 15px;

    color: black;
    text-align: center;
    text-decoration: none;
}

.QNavBarRight a:hover,
.QNavBarList a:hover {
    color: #2D8E34;
    font-weight: 600;
}
