.QHeader {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.QLogo {
    margin: 0 !important;
    padding: 22px 0 !important;
}

.QNavBar {
    z-index: 10;
    background-color: white;
    text-align: center;
    float: left;
    margin-left: 140px;
    padding: 0;
}

