.ContributionText{
    margin-top: 112px;
    margin-bottom: 56px;
}

.QcumberCardsWrapper{
    height: 100%;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    align-content:center; 
}