.CoursePageFlewContainer {
    display: flex;
    justify-content: center;
}

.CoursePageLeftPart {
    background-color: DodgerBlue;
}

.CoursePageCenterPart {
    background-color: DodgerBlue;
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    display: flex;
    flex-direction: column;
}

.CoursePageRightPart {
    background-color: DodgerBlue;
}

.CoursePageCourseSubjAndNum {
    /* float: left;
    display: flex; */
    float: left;
}
