.InternationalHeader {
    background-image: url("../../assets/images/landing/MaskGroup1.png");
    min-height: 717.3px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.NavBar {
    z-index: 10;
    /* border-bottom:none; */
    background-color: #FBFBFB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: absolute;
    width: 1275px;
    height: 60px;
    right: 0;
    top: 10%;

    margin: 0;
    padding: 0;
}

.NavBarList {
    height: 100%;
}

.NavBarList a {
    float: left;
    display: block;
    font-size: 16px;
    font-weight: bold;

    margin: 0 8px 0 8px;
    padding: 17px 15px;

    color: #BA1137;
    text-align: center;
    text-decoration: none;
}

.NavBarList a:hover {
    border-bottom: 4px solid #BA1137;
}

.UserBadge {
    position: absolute;
    z-index: 0;
    width: 218px;
    height: 460px;
    right: 15%;
    top: 0;
    background-color: #003060;
    margin: 0;
    padding: 0;
}

.QcumberCardsWrapper {
    width: 100%;
    height: 280px;
    display: block;
}
