.Wrapper {
    justify-content: center;
    margin-bottom: 10px;
    min-width: 100%;
}

.Button {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
}

.Button:hover {
    border: 1px solid #716861;
}
