@import "../../../../global_vars";

.resultSection{
    margin-top: 24px;
}

.sectionHorizontalLine {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    // margin-top: 24px;
 } 
 
.sectionHeader { 
    font-family: $nav-link-font;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38);
    float: left;
    background:#fff; 
    padding-right: 17px;
}

.sectionTitle {
    font-family: $nav-link-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #318738;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.sectionContent{
    min-height: 40px;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: $nav-link-font;
}