.modal-backdrop {
    opacity: 0;
    position: fixed;
    @include position(0);
    background-color: $black;
    z-index: 1030;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-open{
    padding-right: 1rem;
    overflow: hidden;
}

.modal {
    z-index: 1031;
    position: fixed;
    @include position(0);
}
