.ContributionText {
    margin-top: 112px;
    margin-bottom: 56px;
}

.QcumberCardsWrapper {
    height: 100%;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 700px) {
    .Wrapper > .column {
        width: 100%;
        display: block;
    }
}

.Wrapper {
    min-width: 1099px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Logo {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 15%;
    margin-top: 80px;
}
.labelpo{
  width:100%;
}
.Labelstyle{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.Label {
  background-color: rgba(0, 101, 242, 0.19);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  height:25px;
  border-radius: 50px;
}
.fonts{
  font-weight: 600;
  margin-right: 10px;
}
