.CardFront {
    width: 100%;
    width: 260px;
    height: 250px;
    margin: 8px;
    cursor: pointer;
}

.Tile {
    background-position: center center;
    background-size: 350px 340px;
    height: 100%;
    border-radius: 5px;
    padding: 18px 18px 0px 18px;


    transition: box-shadow 0.5s;
    border-radius: 5px;
}

.Tile:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}

/* Background img for each type */
/* no space in between */
.gradeDistribution {
    background-image: url("../../../../../assets/images/Qcumber/Q01GD-BG-3x.png");
}

.courseCatalog {
    background-image: url("../../../../../assets/images/Qcumber/Q02CC-BG-3x.png");
}

.degreePlanning {
    background-image: url("../../../../../assets/images/Qcumber/Q03DP-BG-3x.png");
}

.secretLibrary {
    background-image: url("../../../../../assets/images/Qcumber/Q04SL-BG-3x.png");
}

.CardFrontTitle {
    text-align: left;
    line-height: 1.1;
    width: 100%;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.CardFrontDescription {
    text-align: left;
    width: 100%;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
