@import "../../../global_vars";

.green_050 {
    background-color: $green-050;
    margin: 0;
}

.green_100 {
    background-color: $green-100;
    margin: 0;
}

.green_200 {
    background-color: $green-200;
    margin: 0;
}

.green_300 {
    background-color: $green-300;
    margin: 0;
}

.green_400 {
    background-color: $green-400;
    margin: 0;
}

.green_500 {
    background-color: $green-500;
    margin: 0;
}

.green_600 {
    background-color: $green-600;
    margin: 0;
}

.green_700 {
    background-color: $green-700;
    margin: 0;
}

.green_800 {
    background-color: $green-800;
    margin: 0;
}

.green_900 {
    background-color: $green-900;
    margin: 0;
}
